extends layout_settings

block settings_content
  .container
    h3 パスワード変更
    p.text-danger= error
    p.text-success= success
    p= `${user.username} (${user.id}) としてログインしています`
    .d-flex.align-items-center.m-auto
      form(method='post' action='/admin/settings/password')
        input#username(type='hidden' name='id' value=user.id)
        .mb-3
          label.form-label(for='password') 現在のパスワード
          input#password.form-control(type='password' name='password' required=true)
        .mb-3
          label.form-label(for='newPassword') 新しいパスワード
          input#newPassword.form-control(type='password' name='newPassword' required=true)
        .mb-3
          label.form-label(for='confirmPassword') 新しいパスワード（確認のため）
          input#confirmPassword.form-control(type='password' name='confirmPassword' required=true)
        .mb-3.text-center
          button.btn.btn-primary.w-100 パスワード変更