extends layout

block content
  h3.text-center ランキング
  table.table
    thead
      tr
        th.text-nowrap 順位
        th.text-nowrap プレイヤー名
        th.text-nowrap スコア
        th.text-nowrap キー/秒
        th.text-nowrap ミス数
        th.text-nowrap 正確率 (%)
        th.text-nowrap 更新日時
    tbody
      each item in data
        tr
          td #{item.place}位
          td= item.name
          td= item.score
          td= item.kps
          td= item.miss
          td= item.accuracy
          td= item.updated_at