extends layout

block content
  .d-flex.justify-content-center
    h2.text-center 文章一覧
  .d-flex.justify-content-center
    a.page-prev.btn.btn-primary(href='javascript:void(0)' data-sentences=data data-page=page data-limit=limit) <<
    h3.me-3.ms-3=`${page} ページ目`
    a.page-next.btn.btn-primary(href='javascript:void(0)' data-sentences=data data-page=page data-limit=limit) >>
  .d-flex.justify-content-end
    p.me-2 最大
    select.update-limit(name='limit' data-sentences=data data-page=page)
      each value in ['10', '20', '30', '40', '50']
        option(selected=(value === limit) value=value)=value
    p.align-middle.ms-2.me-3 件表示
    a(href='/admin/sentences/new')
      btn.btn.btn-outline-primary 文章追加
  table.table.table-hover
    thead
      tr
        th 文章
        th かな
        th 編集
        th 削除
    tbody
        each item in dataToDisplay
          tr.align-middle
            td(style="width: 50%;")=item.sentence
            td(style="width: 50%;")=item.kana
            td(style="min-width: 74px;")
              a.btn.btn-outline-primary(href=`/admin/sentences/edit/${item.id}`) 編集
            td(style="min-width: 74px;")
              a.del-link.btn.btn-outline-danger(href='javascript:void(0)' data-id=item.id data-sentence=item.sentence data-kana=item.kana) 削除
  script(src='/js/sentences.js')